/* app-navbar.component.scss */
@import '../../../../assets/ui/variable.scss';

.navbar {
    background-color: $navbar-background-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;

    &__left {
        display: flex;
        align-items: center;
    }

    &__menu-toggle {
        background: none;
        border: none;
        cursor: pointer;
        font-size: 1.2rem;
        margin-right: 1rem;
        color: $navbar-text-color;

        &:hover {
            color: darken($navbar-text-color, 10%);
        }
    }

    &__title {
        font-size: 0.9rem;
        //color: $navbar-text-color;
        color: #6366f1;
    }

    &__right {
        display: flex;
        align-items: center;
    }

    &__actions {
        position: relative;
        display: flex;
        align-items: center;
    }

    &__action-button {
        background: none;
        border: none;
        cursor: pointer;
        font-size: 1.2rem;
        margin-left: 0.75rem;
        color: $navbar-icon-color;
        position: relative;


        &:hover {
            color: darken($navbar-icon-color, 10%);
        }

    }

    &__user {
        position: relative;
        width: 30px;
        height: 30px;
        margin-left: 0.75rem;
        cursor: pointer;
    }

    &__user-avatar {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
    }

    &__user-status {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 8px;
        height: 8px;
        background-color: green;
        border-radius: 50%;
        border: 1px solid white;
    }
}