<app-container>
    <app-button text="New Customer" icon="fas fa-plus" [style]="'solid'" color="primary"
        (onClick)="onCreate()"></app-button>

    <app-dynamic-table [data]="data" [columns]="columns" (infoEvent)="onInformation($event)"
        (editEvent)="onEdit($event)" (deleteEvent)="onDelete($event)" [showDeleteButton]="false">
    </app-dynamic-table>


    <app-dialog [visible]="showDialog" title="Customer Data Maintenance" (close)="showDialog = false" [width]="'500px'">
        <app-dialog-customer (closeDialog)="showDialog = false"></app-dialog-customer>
    </app-dialog>


</app-container>
