<div class="user-profile-dropdown">
    <div class="user-profile-dropdown__header">
        <span>Signed in as</span>
        <span class="user-profile-dropdown__email">{{ userEmail }}</span>
    </div>
    <hr>
    <ul class="user-profile-dropdown__list">
        <li class="user-profile-dropdown__item">
            <i class="fas fa-user"></i>
            <span>Profile</span>
        </li>
        <li class="user-profile-dropdown__item">
            <i class="fas fa-cog"></i>
            <span>Settings</span>
        </li>

        <li class="user-profile-dropdown__item" (click)="logout()">
            <i class="fas fa-sign-out-alt"></i>
            <span>Sign out</span>
        </li>
    </ul>
</div>