.dashboard {
    display: flex;
    height: 100vh;
    overflow: hidden;

    &__menu {
        width: 200px;
        background-color: #1a2337;
        color: #fff;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        overflow-y: auto;

        &-brand {
            display: flex;
            align-items: center;
            padding-bottom: 1rem;

            &-logo {
                width: 35px;
                height: 35px;
                margin-right: .5rem;
            }

            &-name {
                margin: 0;
                font-size: 1.5rem;
            }
        }

        &-profile {
            display: flex;
            align-items: center;
            padding: 1rem 0;

            &-img {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                margin-right: 1rem;
            }

            &-info {
                display: flex;
                flex-direction: column;

                &-name {
                    margin: 0;
                    font-size: 1rem;
                    font-weight: 500;
                }

                &-email {
                    margin: 0;
                    font-size: 0.8rem;
                    color: #aaa;
                }
            }
        }

        &-nav {
            display: flex;
            flex-direction: column;
            padding-top: 1rem;

            &-title {
                margin-bottom: 0.5rem;
                font-size: 0.9rem;
                color: #aaa;
                padding-left: 1.2rem;
            }

            &-list {
                list-style: none;
                padding: 0;
                margin: 0;
            }

            &-item {
                padding-left: .3rem;
                margin: 0.2rem 0;

                &--active {
                    background-color: #232f44;
                }
            }

            &-link {
                display: flex;
                align-items: center;
                padding: 0.8rem;
                text-decoration: none;
                color: #fff;
                border-radius: 5px;
                transition: background-color 0.2s ease;

                i {
                    margin-right: 0.5rem;
                }

                &--has-submenu {
                    i:last-child {
                        margin-left: auto;
                    }
                }

                &:hover {
                    background-color: #232f44;
                }

            }

            &-submenu {
                list-style: none;
                margin: 0;
                padding: 0;
                display: none;
                background-color: #1a2337;

                &--open {
                    display: block;
                }

                &-item {
                    padding-left: 1rem;

                    &--active {
                        background-color: #232f44;
                    }
                }

                &-link {
                    display: block;
                    padding: 0.5rem 2rem;
                    text-decoration: none;
                    color: #fff;
                    border-radius: 5px;
                    transition: background-color 0.2s ease;
                    margin-left: 0.5rem;

                    &:hover {
                        background-color: #232f44;
                    }
                }
            }
        }
    }

    &__content {
        flex: 1;
        background-color: #f1f5f9;
        display: flex;
        flex-direction: column;
        overflow-y: auto;

    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        background-color: #fff;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

        &-left {
            display: flex;
            align-items: center;

            i {
                margin-right: 0.5rem;
                display: flex;
                align-items: center;
            }
        }

        &-title {
            font-size: 1.2rem;
            font-weight: 500;
            margin-left: 0.5rem;
        }

        &-message-counter {
            font-size: 0.9rem;
            color: #666;
            margin-left: 0.5rem;
        }

        &-right {
            display: flex;
            align-items: center;

            &-buttons {
                display: flex;
            }

            &-actions {
                display: flex;
                align-items: center;

                i {
                    margin-left: 1rem;
                }
            }
        }

        &-button {
            background-color: #4f46e5;
            color: #fff;
            border: none;
            padding: 0.6rem 1.1rem;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.2s ease;

            &:hover {
                background-color: #5750e9
            }

            &--secondary {
                margin-left: 0.5rem;
                background-color: #6b7280;

                &:hover {
                    background-color: #777e8b
                }
            }
        }
    }

    &__main {
        flex: 1;
        padding: 1rem;
    }
}