<a class="mlateral__menu-nav-link" [routerLink]="item()?.routerLink" (click)="setActiveMenu(item()?.activeMenu)">
    <i [class]="item()?.iconClass"></i>
    {{ item()?.label }}
</a>


<!-- @for (item of listOption(); track $index) {
    <li class="mlateral__menu-nav-item" [ngClass]="{'mlateral__menu-nav-item--active': activeMenu === item.activeMenu}">
        <a class="mlateral__menu-nav-link" [routerLink]="item.routerLink" (click)="setActiveMenu(item.activeMenu)">
            <i [class]="item.iconClass"></i>
            {{ item.label }}
        </a>
    </li>
    }
     -->