<div class="user-crud">
    <div class="user-crud__header">
        <h2 class="user-crud__title">Lista de Áreas</h2>
        <div class="user-crud__actions">
            <div class="user-crud__search">
                <i class="fas fa-search"></i>
                <input type="text" placeholder="Filtrar Tabla">
            </div>
            <button class="user-crud__add-button">
                <i class="fas fa-plus"></i> Agregar Nuevo
            </button>
        </div>
    </div>
    <div class="user-crud__content">
        <div class="user-crud__table-container">
            <table class="user-crud__table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Área</th>
                        <th>Subárea</th>
                        <th>Estado</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="user-crud__pagination">
            <div class="user-crud__pagination-options">
                <label>Items per page: </label>
                <select>
                    <option>5</option>
                    <option>10</option>
                    <option>20</option>
                    <option>50</option>
                </select>
            </div>
            <div class="user-crud__pagination-info">
                <span>0 of 0</span>
                <div class="user-crud__pagination-buttons">
                    <button><i class="fas fa-angle-left"></i></button>
                    <button><i class="fas fa-angle-right"></i></button>
                </div>

            </div>

        </div>
    </div>
</div>