.dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Fondo semi-transparente */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    /* Asegúrate de que esté por encima de otros elementos */
}


.dialog-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    /* Para posicionar el botón de cierre */
}

.close-btn-container {
    text-align: right;
}

.dialog__close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: #888;

    &:hover {
        color: #333;
    }
}

.dialog-title {
    margin-top: 0;
    margin-bottom: 15px;
}


.dialog-body {
    /* Estilos para el contenido del diálogo */
}