$navbar-background-color: #fff;
$navbar-text-color: #333;
$navbar-icon-color: #555;
$navbar-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
$notification-color: #007bff;


$primary-color: #4f46e5;
$secondary-color2: #6b7280;
$secondary-color1: #1a2337;